body{
    background-color: violet;
}

h1, h2, h3{
    font-family: 'Bruno Ace';
    text-align: center;
}

p{
    font-family: 'Nunito Sans', sans-serif;
}
.allGames {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
}

.buscarPornombre{
    display: flex;
    justify-content: center;
}


